.Rproj.user
.Rhistory
.RData
.Ruserdata
Hedera_logo\.png
Git-Icon\.png
presentation\.log
presentation\.pdf
presentation\.synctex\.gz
in_case_of_fire\.png
git_staging_commit\.png
*.nav
*.aux
*.out
*.toc
in_case_of_fire.png
git_staging_commit.png

figures/*

figures/giphy\.gif

figures/merge-0\.png

figures/merge-1\.png

figures/merge-10\.png

figures/merge-100\.png

figures/merge-101\.png

figures/merge-102\.png

figures/merge-103\.png

figures/merge-104\.png

figures/merge-105\.png

figures/merge-106\.png

figures/merge-107\.png

figures/merge-108\.png

figures/merge-109\.png

figures/merge-11\.png

figures/merge-110\.png

figures/merge-111\.png

figures/merge-112\.png

figures/merge-113\.png

figures/merge-114\.png

figures/merge-115\.png

figures/merge-116\.png

figures/merge-117\.png

figures/merge-118\.png

figures/merge-119\.png

figures/merge-12\.png

figures/merge-120\.png

figures/merge-121\.png

figures/merge-122\.png

figures/merge-123\.png

figures/merge-124\.png

figures/merge-125\.png

figures/merge-126\.png

figures/merge-127\.png

figures/merge-128\.png

figures/merge-129\.png

figures/merge-13\.png

figures/merge-130\.png

figures/merge-131\.png

figures/merge-132\.png

figures/merge-133\.png

figures/merge-134\.png

figures/merge-135\.png

figures/merge-136\.png

figures/merge-137\.png

figures/merge-138\.png

figures/merge-139\.png

figures/merge-14\.png

figures/merge-140\.png

figures/merge-141\.png

figures/merge-142\.png

figures/merge-143\.png

figures/merge-144\.png

figures/merge-15\.png

figures/merge-16\.png

figures/merge-17\.png

figures/merge-18\.png

figures/merge-19\.png

figures/merge-2\.png

figures/merge-20\.png

figures/merge-21\.png

figures/merge-22\.png

figures/merge-23\.png

figures/merge-24\.png

figures/merge-25\.png

figures/merge-26\.png

figures/merge-27\.png

figures/merge-28\.png

figures/merge-29\.png

figures/merge-3\.png

figures/merge-30\.png

figures/merge-31\.png

figures/merge-32\.png

figures/merge-33\.png

figures/merge-34\.png

figures/merge-35\.png

figures/merge-36\.png

figures/merge-37\.png

figures/merge-38\.png

figures/merge-39\.png

figures/merge-4\.png

figures/merge-40\.png

figures/merge-41\.png

figures/merge-42\.png

figures/merge-43\.png

figures/merge-44\.png

figures/merge-45\.png

figures/merge-46\.png

figures/merge-47\.png

figures/merge-48\.png

figures/merge-49\.png

figures/merge-5\.png

figures/merge-50\.png

figures/merge-51\.png

figures/merge-52\.png

figures/merge-53\.png

figures/merge-54\.png

figures/merge-55\.png

figures/merge-56\.png

figures/merge-57\.png

figures/merge-58\.png

figures/merge-59\.png

figures/merge-6\.png

figures/merge-60\.png

figures/merge-61\.png

figures/merge-62\.png

figures/merge-63\.png

figures/merge-64\.png

figures/merge-65\.png

figures/merge-66\.png

figures/merge-67\.png

figures/merge-68\.png

figures/merge-69\.png

figures/merge-7\.png

figures/merge-70\.png

figures/merge-71\.png

figures/merge-72\.png

figures/merge-73\.png

figures/merge-74\.png

figures/merge-75\.png

figures/merge-76\.png

figures/merge-77\.png

figures/merge-78\.png

figures/merge-79\.png

figures/merge-8\.png

figures/merge-80\.png

figures/merge-81\.png

figures/merge-82\.png

figures/merge-83\.png

figures/merge-84\.png

figures/merge-85\.png

figures/merge-86\.png

figures/merge-87\.png

figures/merge-88\.png

figures/merge-89\.png

figures/merge-9\.png

figures/merge-90\.png

figures/merge-91\.png

figures/merge-92\.png

figures/merge-93\.png

figures/merge-94\.png

figures/merge-95\.png

figures/merge-96\.png

figures/merge-97\.png

figures/merge-98\.png

figures/merge-99\.png
