.Rproj.user
.Rhistory
.RData
.Ruserdata
Hedera_logo\.png
Git-Icon\.png
presentation\.log
presentation\.pdf
presentation\.synctex\.gz
in_case_of_fire\.png
git_staging_commit\.png
*.nav
*.aux
*.out
*.toc
in_case_of_fire.png
git_staging_commit.png
